/target
target/
build/
.vscode/
*.lock

/docs
docs/*
engine/pill_engine/docs/uml_out/*
engine/target_*

*.log
*.wgsl
*.cooked_mesh
*.cooked_tex
DamagedHelmet.glb
MetalRoughSpheres.glb
studio_small_08.hdr

/.github/skills
/temp
*.blend1