/target
target/
build/
.vscode/
*.lock

engine/Cargo.toml
examples/*/Cargo.toml
docs/*
engine/pill_engine/docs/uml_out/*
engine/target_*

engine/managed/Pill.ManagedHost/obj/*
engine/managed/Pill.ManagedHost/bin/*
examples/**/bin/*
examples/**/obj/*
